#error-body {
  position: unset;
  background-color: #e8f5fc;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#navbar-error {
  background-color: #733a9b !important;
}

#title {
  margin: auto;
  top: 17vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100% - 3.75rem);
  width: 100%;
  font-size: revert;
  z-index: 999;
}

#title h1 {
  font-size: 1.9rem;
}

#title h2 {
  font-size: 1.4rem;
}

#error-return {
  /* margin: auto; */
  position: relative;
  left: 0;
  right: 0;
  width: fit-content;
  font-size: .85rem;
}

#rainbow-box {
  display: flex;
  justify-content: center;
  padding-top: 22.5vh;
}

#top-left {
  transform: rotate(45deg)
}

#top-right {
  transform: rotate(135deg)
}

#bottom-left {
  transform: rotate(225deg);
  background-color: #fffbfe;
}

#bottom-right {
  transform: rotate(315deg)
}

/* CREDIT: Animation: https://www.youtube.com/watch?v=7fgUiEk1yj0 */

ul {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 75vh;
  height: 75vh;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  top: 17.25vh;
}

ul li {
  list-style: none;
  border-radius: 50%;
  border: 15px solid #000;
  position: absolute;
  top: 100%;
  left: 50%;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  animation: animate 5s infinite alternate;
  transform: translate(-50%, -50%) rotate(135deg);
  /* transform: translate(-50%,-50%) */
  /* transform:translate(-75%,-75%) */
}

ul li:nth-child(1) {
  width: 60px;
  height: 60px;
  border-color: #9400d3;
  animation-delay: .2s;
}

ul li:nth-child(2) {
  width: 90px;
  height: 90px;
  border-color: #4b0082;
  animation-delay: .4s;
}

ul li:nth-child(3) {
  width: 120px;
  height: 120px;
  border-color: #00f;
  animation-delay: .6s;
}

ul li:nth-child(4) {
  width: 150px;
  height: 150px;
  border-color: #00ff00;
  animation-delay: .8s;
}

ul li:nth-child(5) {
  width: 180px;
  height: 180px;
  border-color: #ff0;
  animation-delay: 1s;
}

ul li:nth-child(6) {
  width: 210px;
  height: 210px;
  border-color: #ff7f00;
  animation-delay: 1.2s;
}

ul li:nth-child(7) {
  width: 240px;
  height: 240px;
  border-color: #f00;
  animation-delay: 1.4s;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(135deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-405deg);
  }
}

@media (min-width: 768px) {
  ul {
    max-width: 33rem;
    max-height: 33rem;
    top: 25vh;
  }

  #title {
    top: 6vh;
  }

  #title h1 {
    font-size: 2.1rem;
  }

  #title h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {

  ul {
    max-width: unset;
    max-height: unset;
    width: 42rem;
    height: 42rem;
    top: 1vh;
  }

  #title h1 {
    font-size: 2.5rem;
  }

  #title h2 {
    font-size: 1.9rem;
  }

  ul li:nth-child(1) {
    width: 3.5rem;
    height: 3.5rem;
  }

  ul li:nth-child(2) {
    width: 5.25rem;
    height: 5.25rem;
  }

  ul li:nth-child(3) {
    width: 7rem;
    height: 7rem;
  }

  ul li:nth-child(4) {
    width: 8.75rem;
    height: 8.75rem;
  }

  ul li:nth-child(5) {
    width: 10.5rem;
    height: 10.5rem;
  }

  ul li:nth-child(6) {
    width: 12.25rem;
    height: 12.25rem;
  }

  ul li:nth-child(7) {
    width: 14rem;
    height: 14rem;
  }

  #title {
    top: unset;
    bottom: -4.5vh;
  }

  #bottom-left li {
    left: 37.5%;
  }

  #bottom-right li {
    left: 62.5%;
  }

  #top-left li {
    left: 37.5%;
  }

  #top-right li {
    left: 62.5%;
  }
}

@media (min-width: 1200px) {

  ul {
    top: .75vh;
  }

  ul li:nth-child(1) {
    width: 4rem;
    height: 4rem;
  }

  ul li:nth-child(2) {
    width: 6rem;
    height: 6rem;
  }

  ul li:nth-child(3) {
    width: 8rem;
    height: 8rem;
  }

  ul li:nth-child(4) {
    width: 10rem;
    height: 10rem;
  }

  ul li:nth-child(5) {
    width: 12rem;
    height: 12rem;
  }

  ul li:nth-child(6) {
    width: 14rem;
    height: 14rem;
  }

  ul li:nth-child(7) {
    width: 16rem;
    height: 16rem;
  }

  #title {
    bottom: -6.5vh;
  }
}