/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
}

body {
  font-family: Roboto, sans-serif;
  /* width: 100vw;
  height: 100vh; */
  /* display: flex; */
  overflow-x: hidden;
  color: #343330;
  background-color: #fffbfe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #733A9B !important;
}

.navbar-toggler {
  border: 1px solid #f0f0f0;
  width: 3.625rem;
  height: 2.5rem;
  overflow: hidden;
}

.nav-toggler-icon {
  display: block;
  width: 3.625rem;
  height: 2.5rem;
  text-align: center;
  transition: .2s ease-in-out;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.nav-toggler-icon:nth-of-type(2) {
  background: url(../images/icons/pride-doughnut-icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-toggler-icon.active {
  transform: translateY(-100%);
}

.nav-link.active {
  background-color: #f0f0f0;
  color: #733a9b;
  cursor: default;
}

.nav-link:not(.active):hover,
.nav-link:not(.active):focus {
  background-color: #f0f0f0;
  color: #733a9b;
}

.nav-link:not(.active):hover {
  opacity: 0.85;
}

.fas.fa-bars {
  color: #f0f0f0;
  font-weight: 600;
  position: relative;
  top: .1rem;
}

.no-border {
  border: none;
}

.navLinks a {
  color: #F0f0f0;
  font-size: 100%;
}

.logo-styling img {
  height: 60px;
  position: relative;
  left: -.5em;
}

/* jumbotron */

.jumbotron {
  border-radius: .75rem;
  background-color: #fffbfe;
  position: relative;
  top: -.75em;
}

.jumbotron p {
  font-size: .95rem;
  font-weight: 300;
}

.btn {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  min-width: 9rem;
  min-height: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.btn-cta {
  padding-top: 1.225rem !important;
  padding-bottom: 1.225rem !important;
  font-size: .95rem;
  line-height: .95rem;
  width: 17rem;
  border-radius: 50px;
  background-color: #733A9B;
  border: 1px solid #733A9B;
}

.btn-cta:hover,
.btn-cta:focus {
  background-color: #603082;
  border-color: #45225d;
  color: #fff;
}

.btn-cta:active {
  background-color: #fffbfe;
  border: 2px solid #733a9b;
  color: #733a9b;
  font-weight: 500;
}

/* Flipcard UI */

.container-flipcards {
  height: calc(100vh - 3.75em);
  top: 3.75em;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: calc(100vh - 3.75em);
  top: 3.75em;
  position: relative;
  scroll-snap-align: start;
}

.one,
.two,
.three {
  color: #fff;
}

.one {
  background-color: cyan;
}

.two {
  background-color: forestgreen;
}

.three {
  background-color: darkorchid;
}

.flip-card-row {
  position: relative;
  top: 1.5rem;
}

.flip-card-outer {
  width: 100vw;
  height: calc(100vh - 3.75em);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.flip-card-wrapper {
  position: relative;
}

.flip-card-container {
  position: relative;
  top: -1.375em;
  width: 330px;
  height: 440px;
  /*   border: 1px solid #ccc; */
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-container.flip .flip-card {
  transform: rotateY(180deg);
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*   Below is optional */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
}

.flip-card-front {
  background-color: #333;
  color: #fff;
}

.flip-card-back {
  background-color: #1982C4;
  color: #fff;
  transform: rotateY(180deg);
}

.flip-card-front img:not(.icon) {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: relative;
}

.flip-over-icon,
.pride-doughnut-icon {
  position: absolute;
}

.pride-doughnut-icon-back {
  position: relative;
}

.flip-over-icon {
  right: 3px;
  bottom: -5px;
}

.pride-doughnut-icon {
  left: 5px;
  top: 5px;
}

.flip-card-back p {
  margin: 1rem;
  margin-top: .5rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.bg-green {
  background-color: #8ac926;
}

.box-shadow-green {
  box-shadow: rgba(138, 201, 38, 0.85) 0 0 20px 5px;
}

/* Contact page */

.list-group-item-action:hover,
.list-group-item-action:focus {
  color: #fff;
}

.list-group-item-action.bg-green:hover {
  background-color: #76ab21;
}

.list-group-item-action.bg-green:focus {
  background-color: #67961d;
}

.bg-blue {
  background-color: #1982c4;
}

.box-shadow-blue {
  box-shadow: rgba(25, 130, 196, 0.85) 0 0 20px 5px;
}

.list-group-item-action.bg-blue:hover {
  background-color: #15699e;
}

.list-group-item-action.bg-blue:focus {
  background-color: #125a87;
}

.bg-purple {
  background-color: #6a4c93;
}

.box-shadow-purple {
  box-shadow: rgba(106, 76, 147, 0.95) 0 0 20px 5px;
}

.list-group-item-action.bg-purple:hover {
  background-color: #543d76;
}

.list-group-item-action.bg-purple:focus {
  background-color: #483465;
}

.bg-yellow {
  background-color: #ffca3a;
}

.list-group-item-action.bg-yellow:hover {
  background-color: #ffbb00;
}

.list-group-item-action.bg-yellow:focus {
  background-color: #e6a800;
}

.bg-snow.list-group-item {
  background-color: #fffbfe;
  color: #343330;
}

.list-group-item-action.bg-snow:hover {
  background-color: #f2f2f2;
}

.list-group-item-action.bg-snow:focus {
  background-color: #e6e6e6;
}

.bg-jet {
  background-color: #343330;
}

.box-shadow-yellow {
  box-shadow: rgba(255, 202, 58, 0.65) 0 0 20px 5px;
}

.list-group-item-action.bg-jet:hover {
  background-color: #282725;
}

.list-group-item-action.bg-jet:focus {
  background-color: #1b1a18;
}

.list-group-item-action:active {
  color: #fff;
  background-color: #007bff;
}

.contact-container {
  min-height: calc(100vh - 3.75em);
  position: relative;
  top: 3.75em;
}

.contact-list {
  width: 100%;
}

.list-group-item {
  color: #fffbfe;
  height: 6.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-group-item:last-of-type,
.names-wrapper {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.contact-heading {
  text-transform: uppercase;
  font-size: 1.125rem;
}

.gh-pride-contact-img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  body {
    position: relative;
  }

  .rolling-pride {
    max-width: unset;
  }

  .container-flipcards {
    max-width: unset;
    overflow-y: unset;
    scroll-snap-type: unset;
    height: unset;
    padding: 1em;
    position: relative;
    top: unset;
  }

  .flip-card-outer {
    top: 3.75em;
    max-width: 15.5em;
    height: unset;
    position: relative;
  }

  .flip-card-wrapper {
    height: 30vh;
    width: 100%;
    margin-bottom: 2em;
    top: 1em;
  }

  .flip-card-container {
    width: 100%;
    height: 30vh;
  }

  .nav-link {
    width: 7em;
    text-align: center;
  }

  .navbar.navbar-home {
    background-color: transparent !important;
  }

  .navbar.navbar-home .navbar-brand {
    background-color: #733a9b;
    padding-right: calc(100vw - 32.666875em);
    left: -1.5em;
  }

  .navbar.navbar-home .nav-link:not(.active) {
    background-color: #733a9b;
    color: #fff;
    font-weight: 600;
  }

  .navbar.navbar-home .nav-link:not(.active):hover,
  .navbar.navbar-home .nav-link:not(.active):focus {
    background-color: #fff;
    color: #733a9b;
    font-weight: 600;
}

  .nav-link.active {
    background-color: #fffbfe;
    color: #733a9b;
    font-weight: 600;
  }

  .navbar.navbar-home .nav-link.active {
    background-color: transparent;
    color: #f0f0f0;
    font-weight: 600;
  }

  .contact-body .nav-link.active {
    background-color: #e8f5fc;
  }

  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
    line-height: 3.75em;
    position: relative;
    left: 1em;
  }

  .navbar-home.navbar-expand-md .navbar-collapse {
    left: -1.5em;
  }

  .navbar-home.navbar-expand-md .logo-styling img {
    left: 1em;
  }

  .flip-card-back {
    overflow-y: hidden;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.425);
  }

  .pride-doughnut-icon {
    width: 2.75em;
  }

  .flip-over-icon {
    width: 3.25em;
  }

  .flip-card-back p {
    font-size: .83rem;
    line-height: 1.15rem;
    margin-top: 1rem;
  }

  .name-wrapper {
    height: 4em;
    width: 100%;
    background-color: #733a9b;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
  }

  .name-wrapper-heading {
    padding-right: 6em;
  }

  .card-1 .flip-card-front {
    overflow-y: hidden;
  }

  .card-1 .flip-card-front img:not(.icon) {
    position: relative;
    top: -4rem;
  }

  .flip-card-outer:nth-of-type(10),
  .flip-card-outer:nth-of-type(11),
  .flip-card-outer:nth-of-type(12) {
    padding-bottom: 2rem;
  }

  .contact-container {
    align-items: center;
    min-height: calc(90vh - 3.75em);
  }

  .list-group {
    max-width: 37.5rem;
    position: relative;
    top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-height: 53.5em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: .01rem solid #ccc;
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  }

  .gh-pride-img {
    width: 6rem;
  }

  .gh-pride-contact-img {
    width: 7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .contact-logo {
    background-color: #fffbfe;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom: none;
  }

  .contact-body {
    background-color: #e8f5fc;
  }

  .jumbotron {
    width: 75%;
    padding: 2.5rem 3.4rem 3rem;
  }

  .btn-cta {
    width: 15em;
  }

  .jumbotron h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .hero-text-cta p {
    font-size: 1.15rem;
  }

  .list-group-item {
    height: 6.25rem;
  }

  .fade-in {
    opacity: 0;
    animation: fade-in 400ms 1 ease-in-out forwards;
    font-size: 1.125rem;
  }

  .contact-heading {
    font-size: 1.425rem;
  }

  .list-group-item:first-of-type .fade-in {
    animation-delay: 600ms;
  }

  .list-group-item:nth-of-type(2) .fade-in {
    animation-delay: 1000ms;
  }

  .list-group-item:nth-of-type(3) .fade-in {
    animation-delay: 1400ms;
  }

  .list-group-item:nth-of-type(4) .fade-in {
    animation-delay: 1800ms;
  }

  .list-group-item:nth-of-type(5) .fade-in {
    animation-delay: 2200ms;
  }

  .list-group-item:nth-of-type(6) .fade-in {
    animation-delay: 3250ms;
  }

  footer {
    height: 10vh;
    position: relative;
    top: 3em;
  }

  .footer-row {
    font-size: 2.2rem;
  }

  .social-list {
    justify-content: center;
  }

  .list-inline-item {
    display: inline-block;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 5px;
  }

  .social-list li:first-child a {
    padding-left: 10px;
  }

  .social-list a {
    padding: 5px 6rem;
    line-height: 10vh;
    margin: 10px 0 0;
    color: #733A9B;
  }

  .social-list li:last-child a {
    padding-right: 10px;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    50% {
      opacity: .5;
    }

    100% {
      opacity: 1;
    }
  }

}

@media (min-width: 992px) {

  .jumbotron {
    top: 1.5em;
    max-width: 42rem;
    padding: 2.25rem 3rem;
  }

  .navbar.navbar-home .navbar-brand {
    padding-right: 6em;
  }

  .container-flipcards {
    padding: 2em 2em 3em;
  }

  h5:not(.contact-heading) {
    font-size: 1.1em;
    position: relative;
    top: .15em;
  }

  .flip-card-outer:nth-of-type(9) {
    padding-bottom: 2rem;
  }

  .flip-card-row {
    padding: 0;
  }

  .flip-card-wrapper,
  .flip-card-container {
    height: 43vh;
  }

  .flip-card-back p {
    font-size: .8125rem;
    line-height: .93rem;
  }

  .pride-doughnut-icon {
    width: 2.25em;
  }

  .flip-over-icon {
    width: 2.5em;
    bottom: 1%;
  }

  .logo-styling {
    position: relative;
    height: 3.75em;
    width: 16em;
  }

  .navbar-home.navbar .logo-styling {
    width: unset;
    padding-right: calc(100vw - 37em);
  }

  .logo-styling img {
    height: 4.5em;
    width: 16em;
    position: absolute;
    left: -1.25em;
    top: -.125em;
  }

  .navbar.navbar-home .logo-styling img {
    position: relative;
    left: .25em;
  }

  .list-group {
    max-width: 48rem;
    box-sizing: unset;
    top: unset;
  }

  .names-wrapper {
    flex-wrap: wrap;
  }

  .list-group-item {
    max-width: 24rem;
    height: 5.25rem;
  }

  .list-group-item:last-of-type {
    border-bottom-left-radius: 0;
  }

  .list-group-item:nth-last-of-type(2) {
    border-bottom-left-radius: .25rem;
  }

  .fade-in {
    font-size: .775rem;
  }

  .contact-heading {
    font-size: 1.15rem;
  }

  .gh-pride-contact-img {
    width: 5.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  footer {
    top: 2.5em;
  }

  .social-list a {
    padding: 5px 9rem;
  }

}

@media (min-width: 1200px) {
  .list-group {
    max-width: 57rem;
  }

  .list-group-item {
    max-width: 28.5rem;
    height: 6rem;
  }

  .fade-in {
    font-size: .925rem;
  }

  .contact-heading {
    font-size: 1.3rem;
  }

  .social-list a {
    padding: 5px 10rem;
  }

  footer {
    top: 2.75em;
  }

  .container-flipcards {
    max-width: 72em;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .flip-card-outer {
    max-width: 18em;
  }

  .flip-card-wrapper,
  .flip-card-container {
    height: 40vh;
    min-height: 20em;
  }

  .name-wrapper-heading {
    padding-right: 2.5em;
    line-height: 3.282em;
    font-size: 1.2em;
  }

  .pride-doughnut-icon {
    width: 3em;
  }

  .flip-card-back .pride-doughnut-icon {
    top: .5em;
  }

  .flip-card-back p {
    font-size: .95rem;
    line-height: 1.2rem;
    margin-top: .5rem;
    position: relative;
    top: .25em;
  }
}

@media (min-width: 1440px) {
  .container-flipcards {
    max-width: 80em;
  }

  .flip-card-outer {
    max-width: 20em;
  }

  .flip-card-wrapper,
  .flip-card-container {
    max-height: 22.5em;
  }

  .flip-card-back p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .flip-card-back p {
    font-size: .925rem;
    line-height: 1.105rem;
  }

  .gh-pride-contact-img {
    width: 7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .list-group {
    max-width: 60rem;
  }

  .list-group-item {
    max-width: 30rem;
    height: 7rem;
  }
}